name: GitHub-Profile-3D-Contrib

on:
  schedule: # 03:00 JST == 18:00 UTC
    - cron: "0 18 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v3
      - uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
          SETTING_JSON: |
            {
              "type": "normal",
              "backgroundColor": "#0d1117",
              "foregroundColor": "#c9d1d9",
              "strongColor": "#3b82f6",
              "weakColor": "#1f2937",
              "radarColor": "#3b82f6",
              "growingAnimation": true,
              "contribColors": [
                "#161b22",
                "#0e4429",
                "#006d32",
                "#26a641",
                "#39d353"
              ],
              "userNameColor": "#3b82f6",
              "nameColor": "#c9d1d9",
              "dateRangeColor": "#8b949e"
            }
      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A .
          git commit -m "generated" || exit 0
          git push
